#(project (
  #(meta (
    #(name rcrly)
    #(description "An Erlang/LFE Client for the Recurly Billing REST API")
    #(version "0.0.1")
    #(keywords ("LFE" "Lisp" "Library" "REST" "Billing" "Finance"))
    #(maintainers (
      (#(name "Cinova Engineering") #(email "dev@cinova.co"))))
    #(repos (
      #(github "cinova/rcrly")))))))

#(logging (
   #(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend emergency)))))