#(project
  (#(meta (
     #(name lxml)
     #(description "An LFE XML wrapper library.")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Library" "XML" "Parsing" "Wrappers"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "oubiwann/lxml")))))
  #(deps (#("rvirding/lfe" "develop")
           #("lfex/lcfg" "master")))))
