{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "0.9.1"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.2"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.0"}}},
   {erlcloud, ".*", {git, "git://github.com/gleber/erlcloud", {tag, "v0.9.2"}}},
   {lcfg, ".*", {git, "git://github.com/lfex/lcfg", {tag, "0.0.2"}}},
   {erlsom, ".*", {git, "git://github.com/willemdj/erlsom", "master"}},
   {logjam, ".*", {git, "git://github.com/lfex/logjam", "master"}},
   {econfig, ".*", {git, "git://github.com/benoitc/econfig", {tag, "0.4.2"}}},
   {exemplar, ".*", {git, "git://github.com/lfex/exemplar", {tag, "0.1.1"}}}
  ]}.
